**.idea/

# Cargo
**target/
**Cargo.lock
**/*.rs.bk
/target
Cargo.lock

# Python build artifacts
.venv/
__pycache__/
*.pyc
*.egg-info/
*.so
*.pyd
*.abi3.so

# JS build artifacts
js/node_modules/

docs/
**.claude/


